@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&family=Roboto&family=Roboto+Slab&display=swap');

html, body {
    color: rgb(57, 61, 74);
    height: 100vh;
    font-size: 14px;
    line-height: 24px;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

input {outline:none;}

a
{
    cursor: pointer;
}

a:hover
{
    text-decoration: none;
}


p
{
    font-size: 16px;
}

.btn
{
    font-size: 14px;
}

h2.header
{
    color:rgb(58, 61, 73);
    font-weight: 600;
}

.nav-gray
{
    background-color: rgb(209, 51, 60);
    color:white;
}

.nav-gray i
{
    font-size:24px;
}

.nav-gray .nav-link
{
    color:rgb(57, 61, 74);
    font-weight:700;
}

a:hover {
    opacity: 0.7;
}

.header_main:not(.header_menu)
{
    display:none;
}

@media (min-width: 992px) {
    .nav-gray
    {
        font-size:14px;

    }

    .nav-gray i
    {
        font-size:14px;
    }

    .navbar-brand, .search-sm
    {
        display:none;
    }

    .header_main:not(.header_menu)
    {
        display:block;
    }

    .fullscreen-bg {
        height: calc(100% - 198px);
        height: -moz-calc(100% - 198px);
        height: -webkit-calc(100% - 198px);
    }

    .footer_fixed_main
    {
        display: none!important;
    }

    .home-tabs
    {
        padding: 70px 0px;
        padding-bottom: 60px;
    }

    #search-result
    {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .search-block
    {
        width: 60%;
    }

}


@media (max-width: 992px)
{
    .nav-gray
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .nav-gray .container
    {
        max-width: unset;
        margin-left:10px;
    }

    .nav-gray .container .nav-link
    {
        font-weight:700;
        color:white;
    }

    .header_fixed_main
    {
        display: none!important;
    }

    .footer_fixed_main
    {
        display: block;
    }

    .fullscreen-bg
    {
        height: calc(100% - 50px);
        height: -moz-calc(100% - 50px);
        height: -webkit-calc(100% - 50px);
        top: 50px;
    }

    .fullscreen-bg__video
    {
        margin-left: -40%;
    }

    #menu
    {
        margin: 50px 0 0 0;
        padding: 90px 0px;
        padding-bottom: 60px;
    }

    #checkout {
        margin-top: 50px;
    }

    .search-block
    {
        width: 90%;
    }

    .final-count {
        width: 100%;
        text-align: center;
    }

    .input-group-append, .input-group-prepend {
        width: 100%;
        margin-left: 25%;
    }

    .cart-detail {
        margin-top: 55px;
    }


}

@media(max-width:1350px)
{
    .fullscreen-bg__video
    {
        width: auto;
        height: 100%;
    }
}


@media(min-width:1350px)
{
    .fullscreen-bg__video
    {
        width: 100%;
    }

}


.header_fixed_main
{
    background-color:#d1333c;
    color:white;
    padding-top:10px;
    z-index: 1040;
    line-height: 40px;
}


.header_fixed_main .fa-shopping-cart
{
    position: relative;
}

.header_main
{
    background-color:#d1333c;
    color:white;
    padding-top:20px;
}


.header_main a, .header_fixed_main a
{
    color:white;
    position: relative;
    font-size: 20px;
    line-height: 24px;
}

.header_main i, .header_fixed_main i
{
    margin-right:20px;
}

.header_main span.count,   .header_fixed_main span.count
{
    font-size: 14px;
    opacity: 1;
    left: 10px;
    color: white;
    padding: 0px 8px;
    line-height: 24px;
}

div.cart
{
    left: 170px;
    position: relative;
    line-height: 24px;
    margin-top: 10px;
}


div.cart:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.header__logo
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size:26px;
}


.small-icon
{
    padding-top:25px;
}

.navbar-brand
{
    color:white;
    font-weight:700;
}

.navbar-toggler {
    padding: 0px;
    font-size: 24px;
}

.navbar-toggler-icon {
    color: white;
    padding-top: 8px;
}


.header_menu
{
    font-size:20px;
    font-weight:700;
    padding: 0px;
}

.header_menu li
{
    //margin-left:25px;
    margin-left: 0;
}

.header_menu span
{
    padding-left:5px;
}


.header_menu .nav-link img
{
    width:34px;
    height:37px;
}

/************** MENU-TABS ****************/



.c-product button
{
    background-color: white;
    border: 1px solid #c7c8cb;
    border-radius: 4px;
    padding: 3px 10px;
    color: #3a3d49;
    margin: 3px;
}

a.nav-item.nav-link
{
    font-size:25.2px;
    font-weight:700;
    font-family: "Oswald",sans-serif !important;
    color:rgb(58, 61, 73);
    opacity:0.3;
    height: 48px;
}

#menu a.nav-item.nav-link.active:after
{
    background-image: url(../images/orline.svg) !important;
    content: '';
    display: block;
    left: 50%;
    height: 8px;
    margin-top: 2px;
    background-repeat: repeat-x;
    background-position: left top;
    background-size: 15px 6px;
}

a.nav-item.nav-link:hover, a.nav-item.nav-link.active
{
    opacity:1;
}

#login a.nav-item.nav-link.active {
    text-transform: uppercase!important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    border: 0px;
    background: white;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link{
    border: 0px;
    padding-top: 0px;
}

.one-food
{
    color:rgb(119, 122, 131);
    margin:14px;
    border: 1px solid white;
    border-radius: 4px;
    padding:13px 13px 20px 13px;
}


.one-food:hover
{
    border: 1px solid rgba(119, 122, 131, 0.15);
    border-radius: 4px;
    cursor:pointer;
}

.one-food:hover .search-heart,.one-food:hover  .btn-success.btn-add_to-cart
{
    visibility:visible;
}


.c-product
{
    display: block;
    margin: 0 auto;
    position: relative;
}


.c-product .img-fluid
{
    display: block;
    margin: 0 auto;
}

.c-product-info
{
    margin-top:17px;
}


a.product_title
{
    font-size:20px;
    color:#3a3d49!important;
    font-weight:bold;
}

span.fa.fa-info
{
    border-radius: 50%;
    border: 2px solid #777a83;
    padding: 2px 7px;
    margin: 0px 5px;
}


.btn-group
{
    display:block;
    margin-bottom:10px;
}

.btn.btn-secondary
{
    line-height: 28px;
    border-radius: 14px !important;
    font-weight: bold;
    font-size: 14px;
    padding: 0 11px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    background-color: white;
    color:currentColor;
}


#checkout .btn-secondary, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #4e555b;
    background-color: #FFD141;
    border-color: #FFD141;
}

.price
{
    color:#3a3d49 !important;
    font-weight:700;
}

.search-heart
{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover
{
    box-shadow:unset;
    background-color:rgba(58,61,73,0.07);
}

.btn-success.btn-add_to-cart
{
    color: #3a3d49;
    background-color: #FFD141;
    border-color: #FFD141;
    margin-top: 13px;
    font-weight: 700;
    font-size: 14px;
    //visibility:hidden;
}

/************** MENU-TABS ****************/


/****** Р’РР”Р•Рћ ******/

.overlay h1 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    position: absolute;
    text-align: center;
    letter-spacing: 3px;
    width: 100%;
    top: 50%;
    margin-top: -200px;
    font-weight: 700;
}

.fullscreen-bg {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.fullscreen-bg__video {
    //position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    background: url(../images/gridtile.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    text-align: center;
    font-size: 30px;
}

.content p {
    text-align: justify;
    font-size: 20px;
}

@media (max-width: 767px) {
    #cart_form
    {
        margin: 50px 0 0 0;
    }

    .mobile-information {
        display: block;
    }

    .fullscreen-bg {
        background: url('../images/pizza.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }

    .overlay h1 {
        font-size: 40px;
    }

    /*.shopping_basket .photo-small, .shopping_basket .input-group-prepend, .shopping_basket .input-group-append*/
    .shopping_basket .photo-small
    {
        display: none;
    }

    #search-result
    {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

}

.backToSitehereBtn{
    display: block;
    width: 150px;
    height: 150px;
    background: #01BC78;
    text-align: center;
    line-height: 170px;
    font-size: 20px;
    border-radius: 50%;
    color:#fff;
    position: absolute;
    text-decoration: none;
    top:-40px;
    left:-40px;
    transform:rotate(-45deg) scale(1);
    transition:all 0.25s linear;
}

.backToSitehereBtn:hover {
    text-decoration: none;
    top:-10px;
    left:-10px;
    transform:rotate(-45deg) scale(1.3);
}


.fullscreen-bg  button
{
    padding: 12px 20px;
}

.fullscreen-bg a
{
    color: white;
}

/******** Р’РР”Р•Рћ РєРѕРЅРµС† **********/


/****** РџРђР РђР›РђРљРЎ ****/
#plx
{
    background: url(../images/green_cake.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wtitle
{
    padding: 250px 20px;
}

#plx h1
{
    font-weight: 700;
}

#plx a
{
    color: white;
}

/****** РџРђР РђР›РђРљРЎ РєРѕРЅРµС† ****/


/**** РљРћРќРўРђРљРўР« РЅР°С‡Р°Р»Рѕ *******/
#contacts
{
    padding: 70px 0px;
    background: url(../images/backgr.jpg);
}

#contacts .fa
{
    font-size: 30px;
    display: block;
    color: #fe8127;
    text-align: center;
}

#contacts h2
{
    margin: 25px 0px;
    color: rgb(58, 61, 73);
    font-weight: 700;
}

#contacts p
{
    margin: 0 0 25px 0;
    line-height: 26px;
}



/**** РљРћРќРўРђРљРўР« РєРѕРЅРµС† *******/

/********** Рћ РќРђРЎ РЅР°С‡Р°Р»Рѕ **********/
#about_us
{
    padding:  70px 0px;
}

/********** Рћ РќРђРЎ РєРѕРЅРµС† **********/



/******** РћРўР—Р«Р’Р« *******/
#testimonials
{
    padding: 70px 0px;
    background: #e7e8ea;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px 80px;
}

.carousel-control-prev, .carousel-control-next
{
    width: 40px;
    height: 40px;
    border: 1px solid #9E9E9E;
    border-radius: 50%;
    padding: 30px;
    display: block;
    margin: auto;
    background: #9e9e9e;
    opacity: 0.3;
}

.carousel-control-prev:hover, .carousel-control-next:hover
{
    opacity: 0.2;
}



.carousel-control-prev-icon, .carousel-control-next-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}



/******** РћРўР—Р«Р’Р« РєРѕРЅРµС†*******/


/********* РҐРРўР« РџР РћР”РђР– РЅР°С‡Р°Р»Рѕ *****/
#hits
{
    margin: 60px 0px;
}

#recommend
{
    display: inline-block;
    background: #D1333C;
    padding: 0px 5px;
    border-radius: 3px;
    color: white;
    position: absolute;
    z-index: 1;
}
/********* РҐРРўР« РџР РћР”РђР– РєРѕРЅРµС† *****/


/******** РљРћР Р—РРќРђ *************/

#cart_info
{
    position: absolute;
    background: white;
    padding: 10px 15px;
    color: rgb(57, 61, 74);
    right: 20px;
    top: 25px;
    width: 250px;
    z-index: 100;
    line-height: 16px!important;
    font-weight: normal;
    font-size: 14px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), 0 -1px 3px rgba(0,0,0,0.05);
    border-radius: 4px;
}

#cart_info a
{
    font-size: 14px;
    word-break: break-all;
}

#cart_info small
{
    color: rgb(119, 122, 131);
}

#cart_info ul
{
    padding-left: 20px;
}

#cart_info ul>li
{
    margin-top: 15px;
}

.photo-small
{
    width: 55px;
    margin-left: 15px;
    margin-right: 5px;
}


.description
{
    padding-top: 10px;
    padding-left: 5px;
}

.description p
{
    line-height: 14px;
    margin-bottom: 5px;
}

.subtutorial
{
    border-top: 1px solid #777a8375;
    padding-top: 10px;
}

.delete_icon
{
    position: relative;
    margin-left: -20px;
    cursor: pointer;
}

.delete_icon img
{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4px;
}

.amount
{
    font-weight: bold;
    margin-left: -4px;
    min-width: 60px;
    font-size: 14px;
    line-height: 24px;
}

.header_menu #cart_info
{
    right: 10px;
}

.header_menu #cart_info ul
{
    top: 45px;
    padding-left: 20px;
}

.header_menu #cart_info ul>li
{
    margin-left: 0px;
}

/******** РљРћР Р—РРќРђ РєРѕРЅРµС† *************/

/********* FOOTER **********/
footer
{
    background: url("../images/footer.jpg");
    padding: 60px 0px;
}

span.phone
{
    padding: 10px 20px;
    border: 1px solid #9e9e9e6b;
    border-radius: 8px;
    font-size: 16px;
    margin: 0;
    display: inline-block;
}

footer
{
    color: #d0d4da;
}

/********* FOOTER **********/


/********** РџРћРРЎРљ ***********/
#search-modal .modal-dialog
{
    margin: 0px!important;
    position: absolute;
    width: calc(100% + 2px);
    max-width: unset;
    top: -1px;
    left: -1px;
}

#search-modal .modal-content
{
    border-radius: 0px;
}

#search-modal .modal-header, #call_me_back .modal-header
{
    border-bottom: 0px;
}




.search-block input
{
    margin: 0;
    padding: 0 70px 11px 0;
    font-size: 31px;
    line-height: 36px;
    border: none;
    border-bottom: solid 1px #D0D4DA;
    background: transparent;
    display: block;
    width: 100%;
    width: 100%;
}



/********** РџРћРРЎРљ РєРѕРЅРµС† ***********/


/********** РђР’РўРћР РРђР¦РРЇ **************/
#login input, #name, #phone
{
    background: rgb(241,241,242)!important;
    font-size: 16px;
    line-height: normal;
    padding: 14px 15px 15px 15px !important;
    border-radius: 4px;
    height: auto;
    border: 1px solid rgb(225,226,228);
}

input.form-control:focus
{
    border: 1px solid rgba(58,61,73,0.5) !important;
    box-shadow: unset;
}

#login, #checkout, #track, #all-results-of-search
{
    padding-top: 70px;
    padding-bottom: 60px;
}

/********** РђР’РўРћР РРђР¦РРЇ РєРѕРЅРµС† **************/


/********** РљРћР Р—РРќРђ **********************/
table.shopping_basket thead td
{
    border-top: 0px;
    color: #777A83;
    padding-bottom: 5px!important;
}

table.shopping_basket tbody tr:first-child>td
{
    border-top: 1px solid #9E9E9E;
}

table.shopping_basket td
{
    padding:15px;
}

.input-group {
    background: rgb(241, 241, 242);
    width: auto;
    max-width: 120px;
}

.input-group .btn-outline-secondary {
    color: #6c757d;
    border: 0px;
}

.form-control
{
    border: 0px;
    background: rgb(241, 241, 242);
}

.input-group .btn
{
    color: rgb(57, 61, 74);
}

.input-group .btn-outline-secondary:hover {
    background-color: inherit;
}

.input-group .form-control:focus
{
    background: inherit;
}

.input-group input[type="text"]
{
    font-weight: 700;
    color: inherit;
}


#cart_form
{
    background: rgb(241,241,242)!important;
    width: 100%;
}
/********** РљРћР Р—РРќРђ РєРѕРЅРµС† ****************/


/********** РћС„РѕСЂРјР»РµРЅРёРµ Р·Р°РєР°Р·Р° ************/
#checkout .btn-success:not(.active)
{
    background: white;
    border: 1px solid rgb(108, 117, 125);
    color: rgb(119, 122, 131);
}

#checkout .btn-secondary
{
    border-radius: 0px!important;
    padding: 10px;
}

#cart_form .shopping_basket td
{
    padding:  5px;
    padding-top: 10px;
}

#cart_form .shopping_basket p
{
    margin-bottom: 3px;
}
/********** РћС„РѕСЂРјР»РµРЅРёРµ Р·Р°РєР°Р·Р° - РєРѕРЅРµС† ************/


/******* РўСЂРµРє *************/
#track ul
{
    list-style-type: none;
}

#track ul>li:before
{
    content: "\f00c";
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
    color: green;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#star
{
    font-size: 24px; color: #FFC107;cursor:pointer;
}


/******* РўСЂРµРє - РєРѕРЅРµС†*************/


/******* РњРµРЅСЋ РІ РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё ****/
.navbar-toggler-icon:focus
{
    border: 0px;
}

.navbar-toggler-icon:focus {
    outline: none;
}

#menu-mobil .modal-dialog
{
    height: 100%;
    margin: 0px!important;
    position: absolute;
    max-width: unset;
    width: calc(100% + 2px)!important;
    left: -1px;
    top: -1px;
}

#menu-mobil .modal-content
{
    border-radius: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(209, 51, 60);
    height: 100%;
}

#menu-mobil .close {
    color: white;
    opacity: 1;
}

#menu-mobil .modal-header
{
    border-bottom: 0px;
}

#about .nav-link, #about i
{
    font-size: 14px!important;
}


#about li
{
    padding-left: 10px;
    opacity: 0.7;
}

/******* РњРµРЅСЋ РІ РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё - РєРѕРЅРµС†****/


hr.line
{
    background: url(../images/orline.svg);
    display: block;
    clear: both;
    width: 67px;
    height: 6px;
    margin: 15px auto;
    background-repeat: repeat-x;
    background-position: left center;
    background-size: 15px 6px;
    border: none;
}


.footer_fixed_main
{
    background: white;
    height: 60px;
    line-height: 40px;
}

.footer-icon
{
    position: relative;
}

.footer-icon .fa
{
    display: block;
    font-size: 20px;
    font-weight: 700;
}

span.count
{
    position: absolute;
    margin-top: -25px;
    margin-left: 2px;
    left: 50%;
    top: 12px;
    background: #fe8127;
    border-radius: 12px;
    padding: 2px 9px;
    color: wheat;
    font-weight: 700;
    z-index: 1;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: unset;
}


.btn-default {
    color: white;
    font-weight: bold;
    background-color: rgb(58, 61, 73);
    border-color: rgb(58, 61, 73);
    opacity: 0.9;
}

.btn-default:hover {
    opacity: 1;
    color: white;
}

.btn-success
{
    color: rgb(58, 61, 73);
    background-color:  #FFD141;
    border-color:   #FFD141;
    opacity: 0.9;
    font-weight: bold;
}


.btn-success:hover
{
    color: rgb(58, 61, 73);
    background-color:  #FFD141;
    border-color:   #FFD141;
    opacity: 1;
}


.btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: unset;
}




.calendar {
    margin: 25px 0 0 0;
}





.map {
    width: 100%;
}



#messageHeader {
    height: 20px;
}

#message {
    height: 76px;
}
#map {
    height: 200px;
    width: 100%;
    margin: 0px 12px 18px 12px;
    position: relative;
}
.input_error, .input_error:focus {
    outline: none;
    border: 1px solid #f33;
    box-shadow: 0 0 1px 1px #f33;
}
#notice {
    left: 22px;
    margin: 0px;
    top: 44px;
    color: #f33;
    display: none;
}
#viewContainer {
    margin: 8px;
}


#switcher a {
    text-decoration: none;
    border-bottom: 1px dotted blue;
}
#switcher a:hover {
    border-bottom: none;
}
#switcher li {
    line-height: 1.5
}

.description-delivery {
    font-size: 10px;
    font-weight: 100;
}



.dropbtn {
    background-color: #d1333c;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.dropbtn a {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #eb3644;}





.type-delivery {
    margin: 0 0 50px 0;
}
.type-delivery--name {
    margin: 0 0 10px 0;
    background-color: #d1333c;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.type-delivery--name:hover {
    background-color: #f93546;
}

.back-menu-delivery:after, .back-menu-delivery:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 50%;
    right: 100%;
}
.back-menu-delivery:after{
    bottom:0;
    background: linear-gradient(to left bottom, #d1333c 50%, transparent 50%);
}
.back-menu-delivery:before{
    top:0;
    background: linear-gradient(to left top, #d1333c 50%, transparent 50%);
}

.back-menu-delivery:hover:before{
    top:0;
    background: linear-gradient(to left top, #f93546 50%, transparent 50%);
}
.back-menu-delivery:hover:after{
    bottom:0;
    background: linear-gradient(to left bottom, #f93546 50%, transparent 50%);
}



.point {
    margin: 15px 0;
}
.point--name {
    margin: 0 0 10px 0;
    background-color: yellow;
    padding: 10px;
    color: black;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.point--name:hover {
    background-color: #c0c000;
}



.point-delivery-cart {
    padding: 10px 0;
    text-align: left;
}

.delivery-cart-description {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.point-delivery-cart-info {
    font-size: 10px;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 0;
}

.type-delivery-info {
    margin: 0 0 15px 0;
    font-size: 10px;
    text-align: center;
}

.selected-type-delivery {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}







.cart_info--mobile {
    width: 100%;
    background: none;
}

.cart--mobile {
    background-color: rgb(166, 41, 48);
    border-radius: 5px;
}

.cart--mobile--title {
    margin: 0 0 15px 0;
    font-size: 25px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}

.subtutorial--mobile {
    border-top: 3px solid rgb(84, 21, 24);
    padding-top: 10px;
}

.point-delivery-cart--mobile {
    background-color: rgb(122, 30, 34);
    padding: 10px 10px;
    text-align: left;
}

.cart--mobile--button {
    margin-right: 30px;
    background-color: rgb(122, 30, 34);
    border: none;
}

.success--mobile--button {
    background-color: yellow;
    border: none;
    color: #232323;
}


.delete_icon--mobile
{
    position: relative;
    margin-left: -20px;
    cursor: pointer;
}

.delete_icon--mobile img
{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4px;
}



span.mobile-count
{
    position: absolute;
    margin-top: 0px;
    margin-left: 2px;
    left: 30px;
    top: 20px;
    background: #fe8127;
    border-radius: 10px;
    padding: 3px 6px;
    color: wheat;
    font-size: 14px;
    font-weight: 700;
    z-index: 1;
}



.sleeping-cat {
    flex-direction: column;

}


.repeat-sms, #answer {
    margin: 15px 0 0 0;
}